.dock {
    display: flex;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 30px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.app-icon {
    margin: 0 10px;
    transition: transform 0.2s;
}

.app-icon img {
    width: 40px;
}

.app-icon:hover {
    transform: scale(1.2);
}
